<div class="modal-container">
  <div class="modal-header uflex uflex-jbtw">
    <h2 class="headingst"> {{config.data.mode}} venta</h2>
  </div>

  <p-toast position="top-right"></p-toast>

  <form [formGroup]="clientForm" (ngSubmit)="guardar()">
    <div class="modal-body">
      <div class="uflex-v gap30 w100">
        <div *ngIf="showError" class="error-message">
          <p>{{errorMessage}}</p>
        </div>

        <div class="uflex-v gap20">
        <!-- Nombre -->
          <div class="uflex-v gap10">
            <label for="userFirstName" class="fw-bold">Cliente *</label>
            <input
              type="text"
              id="userFirstName"
              formControlName="userFirstName"
              placeholder="Ingrese el nombre"
              [class.error]="isFieldInvalid('userFirstName')"
            />
            <small *ngIf="isFieldInvalid('userFirstName')" class="error-text">
              {{getFieldError('userFirstName')}}
            </small>
          </div>

        <!-- Apellido -->
        <div class="uflex-v gap10 w100">
          <label for="daterange">Fecha </label>
          <p-date-picker
            formControlName="fecha"
            selectionMode="single"
            inputId="daterange"
            dateFormat="dd/mm/yy"
            placeholder="Elige fecha "
            showIcon="true"
            name="fecha"
            inputStyleClass="w100"
          ></p-date-picker>
        </div>

        <!-- Email -->
        <div class="uflex-v gap10 ">
          <label for="product" class="fw-bold">Producto: </label>
          <p-autocomplete
            id="product"
            placeholder=""
            [suggestions]="filteredProduct"
            [dropdown]="true"
            optionLabel="nombre"
            formControlName="producto"
            (completeMethod)="search($event)" fluid></p-autocomplete>

          <p-message *ngIf="isFieldInvalid('producto')" severity="error" size="small" variant="simple">Se debe introducir un producto.</p-message>


        </div>



       <div class="gridform  gap20">
        <div class="uflex-v w100 gap10">
          <label for="amount" class="fw-bold">Cantidad *</label>


            <p-inputNumber
              id="amount"
              formControlName="amount"
              [fluid]="true"
              [class.error]="isFieldInvalid('amount')"

            />

          <small *ngIf="isFieldInvalid('amount')" class="error-text">
            {{getFieldError('minlenght')}}
          </small>
        </div>

        <div class="uflex-v w100 gap10">
          <label for="price" class="fw-bold">Precio venta *</label>


            <p-inputNumber
              id="price"
              formControlName="price"
              [fluid]="true"
              [class.error]="isFieldInvalid('price')"

            />

          <small *ngIf="isFieldInvalid('amount')" class="error-text">
            {{getFieldError('minlenght')}}
          </small>
        </div>

       </div>

        </div>

        <div>
          <h2>Gastos</h2>

       <div class="gridform gap20 w100">

          <div class="uflex-v w100 gap10">
            <label for="flete" class="fw-bold">Flete *</label>


              <p-inputNumber
                id="flete"
                formControlName="flete"
                [fluid]="true"
                [class.error]="isFieldInvalid('flete')"

              />


          </div>

          <div class="uflex-v w100 gap10">
            <label for="ingreso" class="fw-bold">Ingreso *</label>


              <p-inputNumber
                id="ingreso"
                formControlName="ingreso"
                [fluid]="true"
                [class.error]="isFieldInvalid('ingreso')"

              />


          </div>

          <div class="uflex-v w100 gap10">
            <label for="desest" class="fw-bold">Desestiba *</label>


              <p-inputNumber
                id="desest"
                formControlName="desest"
                [fluid]="true"
                [class.error]="isFieldInvalid('desest')"

              />


          </div>

       </div>

        </div>

        <!-- Botones -->
        <div class="uflex uflex-center gap30 w100">
          <button
            type="submit"
            class="btn-primary uflex uflex-center"
            [disabled]="isLoading || clientForm.invalid"
          >
            <i class="material-symbols-outlined">post_add</i>
            <span *ngIf="!isLoading">Guardar</span>
            <span *ngIf="isLoading">Guardando...</span>
          </button>
          <button
            type="button"
            class="btn-whitest uflex uflex-center"
            (click)="cancelar()"
            [disabled]="isLoading"
          >
            <i class="material-symbols-outlined">cancel</i> Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
