<div class="uflex-v w100 h100 gap20 p-lg">

  <div class="header">

    <h1 class="heading-st2" > {{(this.firstStep)?  'Parrilla de aplicaciones':'Logistica' }}</h1>

  </div>


  <div class="apps-grid" >
    @for(t of tiles; track t.line2){

    @if(t.status==this.firstStep){
    <div

      class="app-tile uflex-center uflex-v gap10"
      [ngClass]="{'isBtnPageActive': selectedMenu === t.id}"
      [class.is-brand]="t.brand"
      (click)="onClick(t)"

    >


      @if(t.icon){
      <div class="w100 txt-center ">


        <i class="material-symbols-outlined ">{{ t.icon }}</i>


      </div>
      }

      <div class="tile-text">
        @if (t.line1){
        <div [ngStyle]="t.stline1"> {{ t.line1 }} </div>
        }

        <div class="line2" [ngStyle]= " (t.line1)? t.stline2: '' " >{{ t.line2 }}</div>

      </div>


    </div>
    }
    }

  </div>
</div>
