i{

  color: var(--success);
  padding: 3px;
  zoom: 3;
}
.btn-primary i {
  color: white;
  padding-left: 0!important;

  font-size: 8px;
}

.modal-body{

  word-break: break-word !important;
}
.txt-bold{

  word-break: break-word;
}


