<div class="modal-header">
 <i class="material-symbols-outlined">
  check_circle
</i>
</div>
<div class="modal-body">
  @for(line of config.data.message; track line){
  <p class="txt-bold" >{{ line }}</p>}

  @if(config.data.time){
  <div class="uflex gap25">
  <label>Fecha: </label>
  <p>{{ now | date:'yyyy-MM-dd HH:mm:ss' }}</p>
  </div>
  }
</div>
<div class="modal-footer">
  <button  class="btn-primary uflex uflex-center" (click)="close()">

    <i class="material-symbols-outlined">
      check_circle
    </i>
    Aceptar</button>
</div>
